#!/bin/bash

set -e

# creating runing user
#if [ "$OSNAME" = "centos" ]
#then
#  /usr/local/bin/create_user
#fi

. {{ kerl_working_dir }}/{{ erlang_version }}/activate
export PATH="$PATH:{{ elixir_bin_dir }}/bin"


if [ "$UPDATE_USER_IDS" = "yes" ]
then
  /usr/bin/update_user_ids.sh
fi

#export HOME="/home/app"
#export HOME="/tmp/user"

#mix local.rebar --force
#mix local.hex --force

# mix deps.get
export SECRET_KEY_BASE="{{ secret_key_base }}"
# export MIX_ENV=prod && mix release --overwrite $1

if [ "$USING_CONSUL" = "yes" ]
then
  # TODO: change "${CONSUL_PREFIXES}" for a loop (env-vars/ansible)
  # shellcheck disable=SC2086
  /home/app/envconsul -consul-addr=${CONSUL_ADDR} ${CONSUL_PREFIXES} /home/app/src/bin/elixir-machine-service-command.sh
else
  /home/app/src/bin/elixir-machine-service-command.sh
fi


